.idea-body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #2e2952, #827397);
  color: white;
  position: relative;
  overflow: hidden;
}

.idea-body h3 {
  color: #f1dbaa;
  font-size: 20px;
}

.idea-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  font-family: "Arial";
}

.idea-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #f1dbaa;
}

.idea-input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.idea-input-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: vertical;
  border-radius: 6px;
  border: 1px solid #827397;
  font-size: 16px;
  background-color: #2e2952;
  color: #e9d5da;
}

.add-btn {
  width: fit-content;
  padding: 8px 14px;
  background: #827397;
  color: #f1dbaa;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #4d4c7d;
  color: #f1dbaa;
}

.idea-list {
  margin-top: 25px;
}

.empty-msg {
  text-align: center;
  opacity: 0.6;
  color: #e9d5da;
}

.idea-item {
  background: #4d4c7d;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  color: #e9d5da;
  flex-direction: column;
  border: 1px solid #827397;
}

.idea-text {
  margin-bottom: 10px;
  font-size: 16px;
  color: #e9d5da;
}

.idea-actions {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background: #827397;
  color: #f1dbaa;
}

.delete-btn {
  background: #e53e3e;
  color: white;
}

.save-btn {
  background: #827397;
  color: #f1dbaa;
}

.cancel-btn {
  background: #4d4c7d;
  color: #e9d5da;
  border: 1px solid #827397;
}

.edit-box {
  width: 100%;
  height: 80px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #827397;
  background-color: #2e2952;
  color: #e9d5da;
}